{% extends 'parking_lot/base.html' %}
{% load static %}

{% block header_title %}
    <title>Car Stats</title>
{% endblock %}

{% block main_block %}
    <div class="row">
        <div class="col s12 offset-m3 m6 offset-l3 l6">
            <h4>Total Cars: {{ total_cars }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col s12 offset-m3 m6 offset-l3 l6">
            <h4>Car Stats</h4>
            <table>
                <thead>
                    <td>Car</td>
                    <td>Currently Parked</td>
                </thead>
                <tbody>
                    {% for car in cars %}
                        <tr>
                            <td>{{ car.license_no }}</td>
                            <td>{% if car.parking_space %} {{ car.parking_space }} {% else %} - {% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
